body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #f2f2f2;
}

#container{
    width: 920px;
    margin: 0 auto;
    background: #fff
}

#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 730px;
    float: right;
    color: #010101
}

#conteudo-principal{
    float: left;
    width: 480px;
}

#conteudo-secundario{
    float: right;
    width: 240px;
    background: #c2c2c2;
}

#navegacao{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px
}

#navegacao li a{
    text-decoration: none
}